body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(body.jpg);
}
.navbar{
    background-image: url(header.jpg);
}
.navbar-brand{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    font-size: 1rem;
}
.row{
    display: flex;
    gap: 1rem;
}
.logo{
    display: flex;
    align-items: center;
}
.container{
    color: #fff;
}
.col{
    background-color: rgb(206, 155, 88);
}
.col img{
    width: 25%;
    mix-blend-mode: multiply;
}
.col p{
    text-align: center;
}
.form{
    border-top: 3px solid #000;
}
footer{
    text-align: center;
    background-image: url(header.jpg);
    color: #fff;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 1rem;
}